<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " href="/cv">Cv
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mesloisirs">Mes loisirs</a>
        
        </li>
      </ul>
    </div>
  </div>
</nav>


<center><h3><u><strong>Bienvenue sur mes loisirs</strong></u> </h3></center>
<br>
<center><div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header"><strong>Sport</strong></div>
  <div class="card-body">
    <h4 class="card-title">Basketball/Musculation</h4>
    <p class="card-text">Je suis quelqu'un qui aime énormement me dépenser quand j'en ai le temps avant les cours tôt le matin, ou bien le soir après une dur journée afin de me défouler et penser à autre chose.
    Ici à Roanne je n'ai pas l'occasion de jouer au basktetball car je n'en joue qu'avec mon ami situé à Givors. Je privilégie ainsi la musculation et le cardio comme courir, faire du vélo d'appartement et le rameur.</p>
  </div>
</div></center> 
<center><div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header"><strong>Passe-temps</strong></div>
  <div class="card-body">
    <h4 class="card-title">Jeux vidéos/Musique</h4>
    <p class="card-text">Lorsque je finis tout le travail que j'ai à faire pour le lendemain ou que je suis en avance sur mes devoirs, je prends le temps de jouer aux jeux vidéos, ce qui m'aide à me relaxer, penser à autre chose "faire le vide" dans mon esprit.
    J'écoute aussi énormement de musique que ça soit lorsque de mon chemin pour aller en cours ou au travail mais aussi lorsque je fais mes devoirs ou que j'avance dans mes projets. J'écoute beaucoup de Lofi lorsque je travaille par exemple.
    C'est un type de musique sans parole, qui apporte une ambiance d'apaisement et qui me permet, personnellement, de me concentrer plus facilement et avancer plus vite sur mon travail et ainsi garder mon sang froid lrosque je bute sur une partie de mes devoirs.</p>
  </div>
</div></center>
<center><div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header"><strong>Football</strong></div>
  <div class="card-body">
    <h4 class="card-title">Chelsea Football Club</h4>
    <p class="card-text">Je suis un très fan de sport en général, mais plus particulièrement un énorme fan de foot et mdu club je supporte depuis 2011-2012, le chelsea football club. C'est un club de foot situé à Londres.
    Je regarde ABSOLUMENT chaque match de "mon" équipe, je suis très investi émotionnellement durant ceux-ci. J'ai plusieurs maillots, une couverture, une figurine qui date de 2012-2013 de John Terry (Défenseur légendaire du club).</p>
  </div>
</html>
