<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " href="/cv">Cv
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mesloisirs">Mes loisirs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oral">Oral</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<center><h3><u><strong>Bienvenue sur mon Portfolio</strong></u> </h3></center>
<br>
<center><div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">Première compétence</div>
  <div class="card-body">
    <h4 class="card-title">Réseau</h4>
    <p class="card-text">Malgré que ça soit la première que j'aborde un sujet tel que le réseau. Cette matière me convient totalement, c'est un sujet où je suis à l'aise dessus, que ça soit configuration d'un réseau interne pour une société, développement d'une extension réseau ou alors même concernant la sécurité comme le SSH.
    Les logiciels comme Putty et Packet Tracer, par exemple, sont maîtrisés. </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
    </div>
  </div>
</div></center> 
<center><div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">Deuxième compétence</div>
  <div class="card-body">
    <h4 class="card-title">Physique/Électricité</h4>
    <p class="card-text">Je pratique la physique depuis très longtemps, après être passé par 2 années de FAC en Science la physique est un de mes gros points forts surtout la partie pratique et théorique de l'électricité.
    C4est un domaine que j'aime beaucoup et qui m'intéresse personnellement afin d'en faire une partie de mon métier plus tard.   </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
    </div>
  </div>
</div></center>
<center><div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">Troisième compétence</div>
  <div class="card-body">
    <h4 class="card-title">Électronique</h4>
    <p class="card-text">L'électronique comme la physique, est un domaine que j'aime beaucoup. Je suis extrêmement à l'aise concernant les branchements électroniques comme des petits écrans LED, capteur en tout genre, ainsi que des moteurs.
    Les montages électriques avec des Arduino Uno sont totalement maîtrisés. Je souhaiterais plus tard en faire mon métier en tant qu'ingénieur cybersécurité dans l'électronique malgré que j'ai un petit penchant pour les objets connectés. </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
    </div>
  </div>
</html>
